---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cascadeAutoOperator.name" . }}-manager-config
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: 0.0.0.0:8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: c8142a98.cascade.net

