apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - cascade_auto_scenario.yaml

patches:
  - path: base-patch.yaml
    target:
      group: cascade.cascade.net
      version: v1alpha1
      kind: CascadeAutoOperator
      name: cascadeautooperator.*
      labelSelector: "app=cascade"

images:
- name: ghcr.io/randsw/cascadescenariocontroller-auto:1.0.1
  newTag: 1.0.1

namespace: image-process