name: Lint, Test and Release Charts
on:
  push:
    branches:
      - 'develop'
      - 'feat/**'
      - 'fix/**'
      - 'cicd/**'
      - 'test/**'
      - 'main'
    paths:
      - 'helm/cascade-auto-operator/**/*.yaml'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'helm/cascade-auto-operator/**/*.yaml'
permissions:
  contents: write
jobs:
  Lint-test-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.4.0

      - name: Get changed files in the docs folder
        id: changed-files-helm
        uses: tj-actions/changed-files@v39
        with:
          files: helm/cascade-auto-operator/**

      - name: List all changed files
        run: |
            for file in ${{ steps.changed-files-helm.outputs.all_changed_files }}; do
              echo "$file was changed"
            done

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml --all
        if: steps.changed-files-helm.outputs.any_changed == 'true'

      - name: Create kind cluster
        uses: helm/kind-action@v1.5.0
        if: steps.changed-files-helm.outputs.any_changed == 'true'

      - name: Run chart-testing (install)
        run: ct install --config ct.yaml --all
        if: steps.changed-files-helm.outputs.any_changed == 'true'

      - name: Configure Git
        run: |
            git config user.name "$GITHUB_ACTOR"
            git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
        if: steps.changed-files-helm.outputs.any_changed == 'true' && github.ref == 'refs/heads/main'
    
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        with:
            charts_dir: helm
        env:
            CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        if: steps.changed-files-helm.outputs.any_changed == 'true' && github.ref == 'refs/heads/main'

