name: Lint, Test and Release Charts
on:
  push:
    branches:
      - 'develop'
      - 'feat/**'
      - 'fix/**'
      - 'cicd/**'
      - 'test/**'
      - 'main'
    paths:
      - 'helm/cascade-auto-operator/**/*.yaml'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'helm/cascade-auto-operator/**/*.yaml'
permissions:
  contents: write
jobs:
  Lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.SEMANTIC_TOKEN }}

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1

      - name: Get changed files in the helm folder
        id: changed-files-helm-chart
        uses: tj-actions/changed-files@v43
        with:
          files_yaml: |
            helm:
              - helm/cascade-auto-operator/*.{yaml,tpl}
              - '!helm/cascade-auto-operator/Chart.yaml'

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml --all
        if: steps.changed-files-helm-chart.outputs.helm_any_changed == 'true'

      - name: Create kind cluster
        uses: helm/kind-action@v1.9.0
        if: steps.changed-files-helm-chart.outputs.helm_any_changed == 'true'

      - name: Run chart-testing (install)
        run: ct install --config ct.yaml --all
        if: steps.changed-files-helm-chart.outputs.helm_any_changed == 'true'
  Release:
    runs-on: ubuntu-latest
    needs: Lint-test
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.SEMANTIC_TOKEN }}

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.7

      - name: Get changed files in the helm folder
        id: changed-files-helm-chart
        uses: tj-actions/changed-files@v43
        with:
          files_yaml: |
            helm:
              - helm/cascade-auto-operator/*.{yaml,tpl}
              - '!helm/cascade-auto-operator/Chart.yaml'
            chart_version:
              - 'helm/cascade-auto-operator/Chart.yaml'

      - name: Install PyBump
        run: |
          python3 -m pip install pybump
        shell: bash
        if: steps.changed-files-helm-chart.outputs.helm_any_changed == 'true' && steps.changed-files-helm-chart.outputs.chart_version_any_changed != 'true' && github.ref == 'refs/heads/main'

      - name: Automated Version Bump
        id: version-bump
        run: |
          echo "VER=$(pybump bump --file helm/cascade-auto-operator/Chart.yaml --level patch)" >> $GITHUB_OUTPUT
        shell: bash
        if: steps.changed-files-helm-chart.outputs.helm_any_changed == 'true' && steps.changed-files-helm-chart.outputs.chart_version_any_changed != 'true' && github.ref == 'refs/heads/main'

      - name: Output Name
        id: chart-name
        run: |
          echo "::set-output name=chart::$(basename helm/cascade-auto-operator)"
        shell: bash
        if: steps.changed-files-helm-chart.outputs.helm_any_changed == 'true' && steps.changed-files-helm-chart.outputs.chart_version_any_changed != 'true' && github.ref == 'refs/heads/main'

      - name: Configure Git
        run: |
            git config user.name "$GITHUB_ACTOR"
            git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
        if: github.ref == 'refs/heads/main'

      - name: GIT Commit
        run: |
          git add helm/cascade-auto-operator/Chart.yaml
          git commit -m "Automatic bump Helm chart version to ${{ steps.version-bump.outputs.VER }}"
        if: steps.changed-files-helm-chart.outputs.helm_any_changed == 'true' && steps.changed-files-helm-chart.outputs.chart_version_any_changed != 'true' && github.ref == 'refs/heads/main'

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.SEMANTIC_TOKEN }}
        if: steps.changed-files-helm-chart.outputs.helm_any_changed == 'true' && steps.changed-files-helm-chart.outputs.chart_version_any_changed != 'true' && github.ref == 'refs/heads/main'
    
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
            charts_dir: helm
        env:
            CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        if: steps.changed-files-helm-chart.outputs.chart_version_any_changed == 'true' && github.ref == 'refs/heads/main'
